<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body>
<h1>Lista produse</h1>
<!--method="post" - prin asta punem o resursa pe server-->
<form th:action="@{/web/products/search}" method="post">
    <label for="productName">Search by name</label>
    <input type="text" name="searchString" id="productName">
    <input type="submit">
</form>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    <tr th:each="p:${products}">
        <td th:text="${p.productId}"></td>
        <td th:text="${p.productName}"></td>
        <td th:text="${p.categoryEntity} ? ${p.categoryEntity.categoryName}: 'Need a category'"/>
        <!--
        if(p.productEntity){
            p.productEntity.productName
        }
        else{
            System.out.println("Need a category");
        }
        -->
        <td>
            <a th:href="@{/web/products/edit/{id}(id = ${p.productId})}">Edit</a>
            <!--la linia 19am format un URL bazat pe variabile-->
            <a th:href="@{/web/products/delete/{id}(id = ${p.productId})}">Delete</a>
        </td>
    </tr>
</table>
<a href="/web/products/add">Add product</a>
<br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c:${categories}">
        <td th:text="${c.categoryId}"></td>
        <td th:text="${c.categoryName}"></td>
        <td>
            <a th:href="@{/web/categories/delete/{id}(id = ${c.categoryId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/web/categories/add">Add category</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="signOut"/>
</form>
</body>
</html>