<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>Product</h1>
    <form action="/web/products/save" method="post" th:object="${product}">
<!-- $ folosit pt a accesa o variabila ${NUMELE VARIABILEI}-->
        <span th:if="${#fields.hasErrors('productName')}"
              th:each="err, stat:${#fields.errors('productName')}"
              th:utext="!${stat.last} ? ${err}+'&lt;br /&gt;' : ${err}">

        </span>
        <!-- linia de deasupra este pentru validari prin true sau flase daca campul a fost validat corect -->
        <br>
        <label for="productName">Product name</label>
        <input type="text" name="productName" id="productName" th:field="*{productName}">
        <label for="productCategory">Product Category</label>
        <select id = "productCategory" th:field ="*{categoryEntity}">
            <option th:each="c : ${categories}" th:value="${c.categoryId}" th:text="${c.categoryName}">
            </option>
        </select>
        <input type="hidden" name="productId" th:field="*{productId}">
<!-- * inseamna "All" -->
        <br>
        <input type="submit">
    </form>
</body>
</html>