<!DOCTYPE html>
<!--pt nameing folosim litere mici-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
</head>
    <body>
        <p>My first page</p>
        Name: <span th:text="${myName}"></span>
    </body>
</html>